# Ignore the SQLite database
db.sqlite3

# Ignore ssh key for git connection
sushant_crm_git
sushant_crm_git.pub

# Ignore all migrations in the "inquiries" app
inquiries/migrations/

# Ignore Python-related files
# ignore all files with a .pyc extension
*.pyc 
__pycache__/

# Ignore environment files
.env

# Custom files
Documentations/
myenv/

MySQL_Backups/backups

# Ignore uploaded media files
media/