# Ignore the SQLite database
db.sqlite3

# Ignore ssh key for git connection
sushant_crm_git
sushant_crm_git.pub

# ✅ Allow migrations (keep them in Git), but ignore pycache inside them
inquiries/migrations/__pycache__/

# Ignore Python-related files
*.pyc 
__pycache__/

# Ignore environment files
.env
token.json   # 👈 Added this line

# Custom files
Documentations/
myenv/

MySQL_Backups/backups

# Ignore uploaded media files
media/
