<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grant/Revoke Access</title>

    <!-- Add jquery JS BEFORE select2 JS -->    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }
    
    h1, h2 {
        text-align: center;
        margin: 1rem 0  !important;
    }

    .buttons_wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
</style>



<body>
    {% include "inquiries/Modal.html" %}
    {% include "inquiries/Alerts.html" %}

    <h2>Manage School Users</h2>

    <!-- Buttons to open modals -->
    <div class="buttons_wrapper">
        {% if user.role == "Agent" or user.role == "Admin" %}
            <button class="header-btn add-inquiry" onClick="window.location.href='{% url 'add_user' %}'">
                Add New User
            </button>
        {% endif %}

        <button class="header-btn filter load-component" data-template-url="{% url 'filter_agents_component' %}" data-base-url-name="{{ base_url_name }}" data-filter-component-heading="Filter Agents">
            Open Filters
        </button>

        <button class="header-btn manage load-component" data-template-url="{% url 'hide_agent_columns_component' %}" data-table_class="school_users_list">
            View / Hide Columns
        </button>
        
        <button class="header-btn dashboard" onClick="window.location.href='{% url 'dashboard' %}'">
            Dashboard
        </button>
    </div>

    
    {% include "inquiries/agent/Fill_Agents_Table.html" with table_class="school_users_list" actions=actions users=users%}
</body>
</html>